#wrapper {
  width: 960px;
  position: absolute;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0px;
}

#main {
  position: relative;
  top: 0;
  left: 0;
}

body {
  background-image: url(../images/space.jpg);
  background-size: cover;
}

h1 {
  text-align: center;
  color: #bf94e4;
}

table, th, td {
  margin: 0px auto;
  color: #E6E6FA;
  border: 1px solid #fdad5c;
  padding: 15px;
}

tr#title {
  background-color: #4B0082;
}

tr:hover {
  background-color: #4682B4;
}

img {
  width: 50%
}